<h2>Hello dumbasses.</h2>
<p>
  There are <span class="user_count"><%= @user_count %></span> 
suckers that gave us their email addresses.
</p>
<% if user_signed_in? %>
<p>
  You're one of them.<%= link_to "Wanna log out?", destroy_user_session_path, method: :delete %>
</p>
<p>
  <%= link_to "Or see your account, idiot.", edit_user_registration_path %>
</p>
<% else %>
<p>
  <%= link_to "Wanna be one of them?", new_user_registration_path %>
  or
  <%= link_to "Log in", new_user_session_path %>
</p>
<% end %>
